/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
    background: #f4f4f4;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header h1, header p {
    text-align: center;
}

section {
    padding: 20px 0;
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

ul li {
    background: #333;
    color: #fff;
    margin: 5px;
    padding: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.project {
    background: #e7e7e7;
    margin: 10px 0;
    padding: 15px;
    border-left: #0779e4 4px solid;
}

.project h3, .project p, .project a {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

/* Make repo links specifically blue */
.repo-link {
    color: #0000FF; /* Blue */
}

.repo-link:hover {
    text-decoration: underline;
}
